#record_type {
	display:none;
}

#other_compiler {
	display:none;
}

.sub_header {
	color: blue;
	font-size: 17px;
}

.menu_entries a {
	font-size: 14px;
}

dl {
    line-height: 27px;
    font-size: 13px;
}

dd {
    margin-left: 220px;
}

dt.altrow {
    background: #f4f4f4;
}

dd.altrow {
    background: #f4f4f4;
}

div.actions {
    padding: 25px 0px;
}

#SearchSearch {
    width: 98%;
    padding:0px;
}

.searchBox {
    float:right;
    clear:both;
}

.SearchLabel {
    /* display:none; */
    width: 200px;
}

.SearchResultDetail {
    font: normal 12px sans-serif;
}